---
title: Uberlay
---

%ul
  %li
    %a.modal-trigger.modal-1{ href: "page1.html" } Modal 1: page1.html via AJAX
  %li
    %a.modal-trigger.modal-2{ href: "page2.html", "data-uberlay-id" => "custom-overlay-id-from-markup" } Modal 2: page2.html via AJAX
  %li
    %a.modal-3{ href: "#" } Modal 3: Content from JS