---
title: Uberlay
---

%ul
  %li= link_to "Modal 1: page1.html via AJAX", 'page1.html', class: "modal-trigger modal-1"
  %li= link_to "Modal 2: page2.html via AJAX", 'page2.html', class: "modal-trigger modal-2", "data-uberlay-id" => "custom-overlay-id-from-markup"
  %li= link_to "Modal 3: Content from JS", '#', class: "modal-3"